/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap");

/* theme MUST come first */
@import "tailwindcss";
@import "./theme.css";

body {
  @apply bg-white text-gray-800;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

input {
  font-family: inherit;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
